.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container.whyriskkarma ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  font-size: 170%;
  vertical-align: center;
  /*margin-left: -1em;*/
}

.pinwheel_icon {
	width: 36px;
	height: 38px;
	background-size: 100%;
	display: block;
	list-style-image: url('../images/logo.jpeg');
}